$blue: #2b59c3;
$dark-blue: #253c78;
$pink: #d36582;
$light-yellow-beige: #ffeecf;
$light-brown: #c9a690;

$background: $light-yellow-beige;
$button: $blue;
$button-clicked: $dark-blue;
$header: $pink;
$text-soft: $light-brown;
$text: #292724;
