html {
    font-size: 16px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-size: 50px;
}

header {
    background: rgb(41, 41, 41);
    color: white;
    display: flex;
    justify-content: space-between;

    .title > a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: baseline;
        box-sizing: border-box;
        padding: 0px 20px;

        h1 {
            margin: 0;
            font-size: 3rem;
        }

        p {
            margin: 0;
        }
    }
}

.d3js-canvas {
    background: grey;
    text-align: center;
}

.tabs {
    a {
        display: inline-block;
        line-height: 60px;
        height: 100%;
        font-size: 2rem;
        box-sizing: border-box;
        padding: 0px 20px;
        background: none;
        border: none;
        color: white;
        opacity: 0.5;
        cursor: pointer;
        text-decoration: none;

        &.is-active {
            opacity: 1;
        }
    }
}
