.main-tabs {
    button {
        height: 100%;
        font-size: 2rem;
        box-sizing: border-box;
        padding: 0px 20px;
        background: none;
        border: none;
        color: white;
        opacity: 0.5;
        cursor:pointer;

        &.active {
            color: white;
            opacity: 1;
        }
    }
}
