.create-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    .message {
        padding: 14px;
        width: 100%;
        text-align: center;
        background: #00d46d;
        font-size: 23px;
        color: white;
    }
}
