.question-listing {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    th, td {
        box-sizing: border-box;
        padding: 10px 4px;
    }

    td {
        border-top: 1px solid lightgray;
    }

    &__option {
        span {
            box-sizing: border-box;
            padding: 1px 5px;
            border-radius: 2px;
            background: #ececec;
            cursor: pointer;

            &.users-choice {
                background: #d6e9ff;
            }
        }
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    // PIE CHART
    .slice {
        fill: #ececec;

        .selected {
            fill: darken(#d6e9ff, 30);
        }
    }
}
