.question-listing {
    width: 100%;
    text-align: left;

    .row {
        display: grid;
        grid-template-columns: 1fr 50px 70px 50px 1fr;
        border-top: 1px solid lightgray;
        align-items: center;

        & > div {
            box-sizing: border-box;
            padding: 10px 4px;
        }
    }

    .header {
        text-align: center;
        font-weight: bold;

        &.option-2-text {
            text-align: left;
        }
    }

    .option-1-votes,
    .option-1-text {
        text-align: right;
    }

    .option-1-text {
        span {
            box-sizing: border-box;
            padding: 1px 5px;
            border-radius: 2px;
            background: #ececec;
            cursor: pointer;
        }
    }

    .option-2-text {
        span {
            box-sizing: border-box;
            padding: 1px 5px;
            border-radius: 2px;
            background: #d6e9ff;
            cursor: pointer;
        }
    }

    // PIE CHART
    .slice {
        fill: #ececec;

        .selected {
            fill: darken(#d6e9ff, 30);
        }
    }
}

.question-filter {
    text-align: center;
    padding: 10px;
    background: #e0e0e0;
}
